@charset "utf-8";
/* CSS Document */

body {
}

header.grid_9 img{
	width:600px;
}

header.grid_9 ul li {
	display:inline-block;
}

header.grid_9 a {
	text-decoration: none;
	display:block;
	font-weight:bold;
}

header.grid_9 a:hover {
	text-decoration: underline;
}

aside.grid_3{
	margin-top:20px;
}

aside.grid_3 a {
	margin-top:20px;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
}

aside.grid_3 a:hover{
	text-decoration:underline;
} 

.box_header {
	background-color:#006;
	font:normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	padding:10px;
	padding-bottom:15px;
	border-radius:5px;
	box-shadow: 0px 1px 5px 1px #919191;
	-moz-box-shadow: 0px 1px 7px 1px #6666CC;

}

.box_header p{
	margin:-20px 0 7px 0;
}

.box_header a {
	padding:5px;
	margin:auto;
	background: -moz-linear-gradient(top, #577fff 0%, #0743ff 100%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#0743ff), to(#577fff)) no-repeat;
	border-radius:5px;
	text-align:center;
	margin: 0 0 50px 40px;
	color:#FF0;
}
	

header.grid_12 {
	background: -moz-linear-gradient(top, #FC0 0%, #F60 100%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(#F60)) no-repeat;
	font:bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:3px 0 0 0;
}

header.grid_12 p{
	margin-left:20px;
	margin-bottom:3px;
}

nav {
	background: -moz-linear-gradient(top, #06F 0%, #009 100%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(#F60)) no-repeat;
	width:100%;
	padding:10px 0 10px 0;
	text-align:center;
	margin:auto;
}

nav a {
	font: bold 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #000;
	transition-property: background;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-in;

}

nav a:hover{
	color:#FFF;
} 

.menu_span {
	width:10px;
	border-left:4px dotted;
	margin:0px 20px 0 20px;
	border-color:#FFF;
}

.background{
    background: -moz-linear-gradient(top, #fff  0%, #CCC 100%) no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0)) no-repeat;
    background: -ms-linear-gradient(#fff, #e0e0e0);
    -pie-background: linear-gradient(#fff, #e0e0e0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e0e0e0');
    zoom: 1;
	box-shadow: 0px 1px 5px 1px #919191;
	-moz-box-shadow: 0px 1px 7px 1px #6666CC;
	webkit-box-shadow: 0px 1px 5px 1px #919191;

}

article.grid_8 {
	background:url(images/background.png) no-repeat top;
}

article.grid_8 h5 {
	font:bold 25px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:15px;
}

article.grid_8 ul li{
	font: normal 17px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding:5px;
	float:left;
}

aside.grid_4 {
	height:auto;
	margin-top:25px;
	border-radius:5px;
	box-shadow: 0px 1px 5px 1px #919191;
	-moz-box-shadow: 0px 1px 7px 1px #6666CC;
	float:right;
}

aside.grid_4 header.title_box {
	background: -moz-linear-gradient(top, #999 0%, #000 100%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(#F60)) no-repeat;
	padding:10px 0 15px 0;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	font: normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#FFF;
}

aside.grid_4 footer.bottom_box {
	background: -moz-linear-gradient(top, #CCC -15%, #000 100%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, from(#FC0), to(#F60)) no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e3da', endColorstr='#1c0a01');
	padding:10px 0 10px 0;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	font: normal 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	text-align:center;
}

aside.grid_4 footer.bottom_box a{
	text-decoration:none;
	padding:5px 5px 5px 5px;
	background:#FFF;
}

aside.grid_4 footer.bottom_box a:hover{
	text-decoration:underline;
}

aside.grid_4 header.title_box span{
    left:63px;
    width:34px;
    height: 34px;
    float: left;
    background: url(images/icon.png) 0 0 no-repeat;
	margin:0px 10px 0px 10px;
}

aside.grid_4 ul li span{
    right:63px;
    width:34px;
    height: 34px;
    float: right;
    background:url(images/icon.png) -35px 0 no-repeat;
    margin: -10px -42px 0px 0px;
}

aside.grid_4 ul{
    list-style: none;
    padding:5px 15px 5px 15px;
    margin: 0px 0 0 0px;
    font-size: 12px;
    border: 2px #1c0a01 solid;
}

aside.grid_4 ul li{
    padding:10px;
    margin:0px 0 0 -10px;
    border-bottom: 1px #1c0a01 dashed;
}

aside.grid_4 a{
    padding-left:15px;
    text-decoration: underline;
    color: #00a2ff;
}

aside.grid_4 a:hover{
    text-decoration: none;
}

.facebook{
    left:0px;
    width:140px;
    height: 35px;
    float: right;
	margin:10px;
	background:url(images/social.jpg) 0 0 no-repeat;
}

.twitter{
    left:63px;
    width:140px;
    height: 35px;
    float: right;
	margin:10px;
	background:url(images/social.jpg) -140px 0 no-repeat;
}

article.grid_4{
	border:2px solid #0f8bb9;
    -webkit-border-radius: 10px;
    border-radius: 5px;
	box-shadow: 0px 1px 5px 1px #919191;
	-moz-box-shadow: 0px 1px 7px 1px #6666CC;
	webkit-box-shadow: 0px 1px 5px 1px #919191;
	margin-bottom:30px;
}

article.middle_box {
	margin:0px 3px;
}

article.grid_4 h5 {
	color:#006;
	margin:10px;
	float:left;
	font:bold 17px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
}

article.grid_4 h6 {
	margin:10px;
	padding-top:10px;
	float:left;
	border-top:1px solid;
}

.bottom_content {
	margin-top:20px;
}

.how_to_work{
    left:63px;
    width:49px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
	background:url(images/icon.jpg) -26px 0px no-repeat;
}

.about_poin{
    left:63px;
    width:27px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
	background:url(images/icon.jpg) 0px 0px no-repeat;
}

.member_deal{
    left:63px;
    width:47px;
    height: 36px;
    float: right;
    margin: 10px 10px 0px 0px;
	background:url(images/icon.jpg) -76px 0px no-repeat;
}

nav h6 {
	margin-bottom:0px;
	color:#FFF;
}

.button {
padding: 6px 12px;
font:normal 12px trebuchet MS;
color: #FFF;
text-decoration: none;
border: 1px solid #bdbdbd;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background: -moz-linear-gradient(top, #577fff 0%, #0743ff 100%) no-repeat;
background: -webkit-gradient(linear, left top, left bottom, from(#0743ff), to(#577fff)) no-repeat;
-moz-box-shadow: 0px 1px #dddddd;
-webkit-box-shadow: 0px 1px #dddddd;
-khtml-box-shadow: 0px 1px #dddddd;
-o-box-shadow: 0px 1px #dddddd;
box-shadow: 0px 1px #dddddd;
}
.button:hover {
border-color: #808080;
background: -moz-linear-gradient(top, #0743ff 0%, #577fff 100%) no-repeat;
background: -webkit-gradient(linear, left top, left bottom, from(#0743ff), to(#577fff)) no-repeat;

}
.button:active {
background-image: -moz-linear-gradient(#eaeaea, #fdfdfd);
background-image: -webkit-linear-gradient(#eaeaea, #fdfdfd);
background-image: -khtml-linear-gradient(#eaeaea, #fdfdfd);
background-image: -o-linear-gradient(#eaeaea, #fdfdfd);
background-image: linear-gradient(#eaeaea, #fdfdfd);
background-color: #eaeaea;
}

form input.highlight { font:normal 15px trebuchet MS;}
form input.highlight:focus { border-color:#0000FF; background-color: #E0E2FE}

