@charset "utf-8";
/* CSS Document */

body {
	background: -moz-linear-gradient(top, #09F 0%, #CCC 100%) no-repeat;
  	background: -webkit-gradient(linear, left top, left bottom, from(#b2d9f1), to(#77abcc)) no-repeat;
  	-pie-background: linear-gradient(#b2d9f1, #77abcc);
  	background: -ms-linear-gradient(#b2d9f1, #77abcc);
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b2d9f1', endColorstr='#77abcc');
	zoom: 1;
}

header.grid_12 {
	margin-top:20px;
}

header.grid_12 img{
	width:50%;
}

header.grid_12 a {
	float:right;
	margin-top:40px;
	color: #006;
	text-decoration:none;
	padding:0 10px 0 10px;
	alpha:0;
	transition-property: background;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-in;
	font: normal 23px "Times New Roman", Times, serif;
}

header.grid_12 a:hover{
	background: #003;
	color:#FFFFFF;
}

article.grid_8 {
	margin-top:50px;
}

.title h3{
	font-size: 2.2em;
	text-align: left;
}

.title h6{
	margin-top: -27px;
	margin-bottom: 20px;
	font-size: 1em;
	font-style: italic;	
	text-align: left;
}

.grid_8 .headline img {
	width: 220px;
	height: 200px;
	float: left;
	padding-right: 10px;
}

grid_8 .headline p{
	padding-left: 0px;
	margin-bottom: 15px;
	text-align: left;
	font-weight: normal;
	font-size: 12px;
}

.read_more{
	margin:-10px 0px 0px 0px;
	text-align: right;
  	padding:5px 10px 5px 5px;
  	border-bottom: solid 2px;
	background-color:#003;
}

.read_more a{
	text-decoration: none;
	color:#FFF;
	background-color:#003;
	display:block
}

.read_more a:hover{
	text-decoration: underline;
}

.list_news {
	margin-top:30px;
}

.list_title h5{
	font-size: 1.5em;
	text-align: left;
}

.list_title h6{
	margin-top: -27px;
	margin-bottom: 20px;
	font-size: 1em;
	font-style: italic;	
	text-align: left;
}

article.grid_4 img {
	width:300px;
	margin:50px 0 0 0;
}

article.new_event img {
	width:70px;
	margin:20px 0 0 0;
	float:left;
	padding: 0 10px 10px 0;
}

.new_event h5{
	font-size: 1.5em;
	text-align: left;
  	border-top: solid 2px;
	padding-top:20px;
}

.new_event h6{
	margin-top: -27px;
	margin-bottom: 5px;
	font-size: 1em;
	text-align: left;
}

.read_event{
	margin:-10px 0px 0px 0px;
	text-align: right;
  	padding:5px 10px 5px 5px;
}

.read_event a{
	text-decoration: none;
	color:#FFF;
}

.read_event a:hover{
	text-decoration: underline;
}

footer.grid_12 {
	margin-top:40px;
	padding:5px;
	border-top:2px solid #000;
	font:bold 15px "Times New Roman", Times, serif;
}

footer.grid_12 p {
	float:left;
}

footer.grid_12 a {
	float:right;
	text-decoration:none;
	padding:0 10px 0 10px;
	alpha:0;
	transition-property: background;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-in;
	color:#000
}

footer.grid_12 a:hover{
	background: #003;
	color:#FFFFFF;
}

