@charset "utf-8";
/* CSS Document */

body {
	height:1880px;
  	background: -moz-linear-gradient(top, #2A7FFF 0%, #fff 100%);
	background: -ms-linear-gradient(top, #2A7FFF 0%, #fff 100%);
	background: -o-linear-gradient(top, #2A7FFF 0%, #fff 100%); 
	background: linear-gradient(top, #2A7FFF 0%, #fff 100%); 	
	background: -webkit-linear-gradient(top, #2A7FFF 0%, #fff 100%);
	background: -webkit-gradient(linear, left top, right top, from(#2A7FFF), to(#fff));
} 

#container {
	width:900px;
	height:1000px;
	margin:auto;
}

#header {
	height:120px;
	text-shadow: 2px 2px 7px #111;
	color: #f5f5f5; 
	font-size: 3.2em;
}

#content {
	margin-top:25px;
	padding:25px;
	width:60%;
	background-color:#FFF;
	border-radius:15px;
	text-align:justify;
	float:left;
	box-shadow: 2px 2px 7px #111;
}

#bottom_content {
	padding:20px;
	width:26.5%;
	background-color:#FFF;
	border-radius:15px;
	text-align:justify;
	float:left;
	margin-top:30px;
	box-shadow: 2px 2px 7px #111;
}

#header_content {
	display:block;
	width:100%;
	height:45px;
	margin:auto;
	background: -moz-linear-gradient(top, #003 0%, #006 100%);
	background: -webkit-linear-gradient(top, #003 0%, #006 100%);
	color:#FFF;
	box-shadow: 2px 2px 7px #111;
	border-radius:10px;
}

#bottom_content #header_content, #sidebar #header_content, #header_content2 {
	width:90%;
	padding:0 0 0 20px;
	font:normal 23px/45px "Times New Roman", Times, serif;
}

#header_content2 {
	display:block;
	width:90%;
	height:45px;
	margin:auto;
	background: -moz-linear-gradient(top, #003 0%, #006 100%);
	background: -webkit-linear-gradient(top, #003 0%, #006 100%);
	color:#FFF;
	box-shadow: 2px 2px 7px #111;
	border-radius:10px;
	margin-top:30px;
}

#box1 li {
	list-style-type:none;
	margin-left:-30px;
	display:block;
}

#box1 li a {
	text-decoration:none;
	color: #009;
	transition-property: all;
  	transition-duration: 0.3s;
  	transition-timing-function: ease;

}

#box1 li a:hover {
	margin-left:20px;
}

#box2 li {
	list-style-type:none;
	margin-left:-30px;
	display:block;
}

#box2 li a {
	text-decoration:none;
	color: #009;
}

#box2 li a:hover {
	text-decoration:underline;
}

#box1 p{
	border-bottom:1px solid;
}

#box2 p{
	border-bottom:1px solid;
	text-align:right
}

#box3 p{
	text-align:justify
}


#header_content li{
	display:inline-block;
	list-style-type:none;
	float:left;
}

#side_article1{
	background: -moz-linear-gradient(top, #900 0%, #333 100%);
	background: -webkit-linear-gradient(top, #900 0%, #333 100%);
	border-radius:5px;
	padding:5px;
	width:60px;
	height:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#FFFFFF;
	font:bold 20px/25px "Times New Roman", Times, serif;
	display:inline-block;
	text-align:center;
	margin:20px 0 0 15px;
}

.slide2 { margin-top:30px; }

#side_article2{
	margin-left:-7px;
	background: -moz-linear-gradient(top, #ccc 0%, #fff 100%);
	background: -webkit-linear-gradient(top, #ccc 0%, #fff 100%);
	border-radius:5px;
	padding:5px;
	width:170px;
	height:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#000;
	font:bold 20px/25px "Times New Roman", Times, serif;
	display:inline-block;
}

#side_article2 a{
	text-decoration:none;
	transition-property: all;
  	transition-duration: 0.2s;
  	transition-timing-function: ease;
	color: #006;
}

#side_article2 a:hover{
	text-decoration:underline;
}

.zoom_message header{
	position:relative;
	margin:20px;
	background: -moz-linear-gradient(top, #003 0%, #006 100%);
	background: -webkit-linear-gradient(top, #003 0%, #006 100%);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.zoom_message{
	-webkit-transform: scale(1);
	transform: scale(1);
	transition-property: all;
  	transition-duration: 0.5s;
  	transition-timing-function: linear;
	-webkit-transition-property: -webkit-transform;
  	-webkit-transition-duration: 0.5s;
  	-webkit-transition-timing-function: linear;
}

.zoom_message p{
	text-align:center;
	padding:5px;
	font-size:17px;
	color:#fff;
}

.moon{
	position:static;
	padding:0px;
	width:70px;
	height:70px;
	margin:-50px 0 0 -20px;
	background: #FFF;
	-webkit-border-radius:90px;
	-moz-border-radius:10px;
	border-radius:90px;
}

.eclipse{
	position:static;
	padding:0px;
	width:70px;
	height:70px;
	margin:-60px 0 0 40px;
	background:#006;
	-webkit-border-radius:90px;
	-moz-border-radius:10px;
	border-radius:90px;
}

.zoom_message:hover{
 	 -webkit-transform: scale(1.1);
	 transform: scale(1.1);
}

.tags{
	margin-top:-30px;
	margin-bottom:0px;
	float:left;
	padding-left: 20px;
}

.tags a:link,.tags a:active,.tags a:visited{
	color: #006;
	text-decoration:none;
	padding:0 10px 0 10px;
	alpha:0;
	transition-property: background;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-in;
}

.tags a:hover{
	background: #003;
	color:#FFFFFF;
}

.read{
	display:block;
	float:right;
	margin:-20px 20px 0px 0px;
	background: -moz-linear-gradient(top, #003 0%, #006 100%);
	background: -webkit-linear-gradient(top, #003 0%, #006 100%);
	padding:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
}

.read a:link,.read a:active,.read a:visited{
	color:#FFFFFF;
	text-decoration:none;
	transition-property: margin-left;
  	transition-duration: 0.5s;
  	transition-timing-function: linear;
}

.read span{
	background: #FFF;
	padding:12px;
	margin:10px 10px 0px -10px;
	-webkit-border-radius:0px 10px 10px 0px;
	-moz-border-radius:10px;
	border-radius:10px;
}

.read a:hover{
	margin-left:-10px;
}
.rotate {
	transform: rotate(-90deg);
	margin-left:-40px;
	background-color: #006;
	width:35px;
	padding-left:10px;
	-moz-border-top-left-radius:10px; 
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-top-right-radius:10px; 
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	background: -moz-linear-gradient(top, #003 0%, #006 100%);
	background: -webkit-linear-gradient(top, #003 0%, #006 100%);
}

.tanggal {
	background-color:#006;
	height:45px;
	width:40px;
	margin-right:20px;
}

.nomor {
	background-color:#006;
	height:45px;
	width:65px;
	margin-left:52.2%;
	text-align:center;
	border-radius:10px;
	background: -moz-radial-gradient(50% 50%, farthest-side, #006, #009);
	background: -webkit-gradient(radial, 50% 50%, 10, 50% 50%, 300, from(#006), to(#009));
}

.font_title {
	font:normal 23px/45px "Times New Roman", Times, serif;
}

.font_header {
	font:normal 15px/45px "Times New Roman", Times, serif
}

.left {
	clear:left;
	margin:25px 3% 0 0;
}

.right {
	margin:25px 0 0 3%;
}

#sidebar {
	margin-top:25px;
	padding:10px;
	width:29.5%;
	background-color:#FFF;
	border-radius:15px;
	text-align:justify;
	float:right;
	box-shadow: 2px 2px 7px #111;
}

footer{
	font:normal 14px "Times New Roman", Times, serif;
	clear:both;
	text-align:center;
	padding-top:30px;
}

nav {
	box-shadow: 2px 2px 7px #111;
	border-radius:10px;
}

#header ul {
	list-style-type:none
}

.header {
	font:normal 17px "Times New Roman", Times, serif;
}

nav ul {
	text-shadow:0 1px 0 #FFF;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
	margin-bottom:50px;
}
nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 20%;
}
nav a {
    background: #006;
    color: #FFF;
    display: block;
	border-top: 3px solid #000; 
	border-bottom: 3px solid #000;
    font: normal 17px/50px "Times New Roman", Times, serif;
	text-shadow: 2px 2px 7px #111;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
	background: -moz-linear-gradient(top, #003 0%, #006 100%);
	background: -webkit-linear-gradient(top, #003 0%, #006 100%);
}

.home a{
	border-left: 3px solid #000;
	-moz-border-top-left-radius:10px; 
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	-moz-border-bottom-left-radius:10px; 
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;  
}

.contact a{
	border-right: 3px solid #000;
	-moz-border-top-right-radius:10px; 
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	-moz-border-bottom-right-radius:10px; 
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}

nav li:hover a {
	height:56px;
	border-radius:0px;
    background: #ccc;
	border:none;
	color:#000;
}
nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}
nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
nav li ul li {
    float: none;
    width: 100%;
}
nav li ul a:hover {
    background: #333;
}

/* Clearfix */

.cf:after, .cf:before {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}​