@charset "utf-8";
/* CSS Document */

body { background:#333;}
p { text-align:justify; font-size:14px}
h5{ border-bottom:2px dotted; font:normal 15px "Times New Roman", Times, serif}
h4 { font:bold 15px "Times New Roman", Times, serif; width:97%; border:2px solid #999; display:block; margin:auto; text-align:center; background: #CCC}
h3 {}

#container {width:900px; height:auto; margin:auto; background: #FFF}

#header { width:90%; height:100px; margin:auto; padding:5px; font:bold 17px "Times New Roman", Times, serif; color: #FFF}
#header img {margin: 20px 20px 20px 0px; display:inline-block; float:left }
#header fieldset{ width:45%; height:30px; background:#333; float:right; margin: 25px 0px; padding:15px}

#menu { width:90%; height:35px; margin:auto; padding:5px; border: 2px solid #737373; font:bold 15px "Times New Roman", Times, serif; background:url(../images/menu.png) repeat-x} 
#menu a {text-decoration:none; color:#000; vertical-align:middle; width:100px; display: inline-block; text-align:center;  border-right:2px solid #006; float:left}
#menu a:hover { color: #09F}
#inline { margin: auto; margin:-7px 0 0 -30px; float:left}
#inline li{ display:inline-block; margin:0px 3px 0px 0px}

#content_sidebar { width:91%; margin:auto}

#sidebar{ width:30%; height:auto; float:left}
#sidebar a{text-decoration:none}
#sidebar a:hover{ color: #0F0}
#sidebar li { border-bottom:2px dotted #000}
#sidebar h4{ margin: 30px 0 30px 0 }
#sidebar fieldset {background: #CCC}

#content{ width:67%; height:auto; float:right}
#content a{text-decoration:none; background:#036; color:#FFF; padding:5px}
#content a:hover{ color: #F00}
#content h4{ margin: 30px 0 30px 0 }
.color {color:#009;}
.all { display: inline-block; margin-left:400px}
.image { border:2px solid #CCC; width:22%; display:inline-block; margin-right:4px}
.latest { width:95%; background:#CCC; border:2px solid #999; margin-bottom:50px}
.detail {float:right}
.block {display:block}

#footer { width:90%; height:50px; margin:auto; padding:5px; font:normal 20px "Times New Roman", Times, serif; text-align:center;}
#menu_footer { width:98%; height:35px; margin:auto; padding:5px; border: 2px solid #737373; font:bold 15px "Times New Roman", Times, serif; background:url(../images/menu2.png) repeat-x; display: inline-block } 
#menu_footer a {text-decoration:none; color:#000; vertical-align:middle; width:150px; height:30px; display: inline-block; text-align:center; padding-top:5px; border-right:2px solid #006}
#menu_footer a:hover { color: #FFF}
#menu_footer ul{margin-top:1px;}


