@charset "utf-8";
/* CSS Document */

body{
margin:0;
padding:0;
}


#slide1 {
background: url(../images/silho.jpg) no-repeat fixed 100% 0;
background-size: cover;
position:relative;
min-height:1080px;
}

#slide1 img, #slide4 img {width:100%}

#slide2 {
background: url(../images/city.jpg) no-repeat fixed 100% 0;
background-size: cover;
position:relative;
min-height:1080px;
}


#slide3 {
background: url(../images/green_grass.jpg) no-repeat fixed 100% 0;
background-size: cover;
position:relative;
min-height:1080px;
}

#slide4 {
background: url(../images/img7.jpg) no-repeat fixed 100% 0;
background-size: cover;
position:relative;
min-height:1080px;
}

#image1 {
margin: 5% 0 0 28%;
width:40%;
height:25%;
position: fixed;
}

#image2 {
margin: 25% 0 0 20%;
width:60%;
height:30%;
position: absolute;
}

#image3 {
margin: 10% 0 0 30%;
width:40%;
height:25%;
position: absolute;
}

#content1{
background: rgba(24,23,22, .7);
box-shadow: 0 0 8px rgba(0, 0, 0, .7);
margin:5% 0 0 5%;
width:30%;
height:60%;
position:absolute;
display:block;
color:#FFF;
}

#content2{
margin:25% 0 0 60%;
width:auto;
height:auto;
position:absolute;
display:block;
}

#content3{
background: rgba(24,23,22, .7);
box-shadow: 0 0 8px rgba(0, 0, 0, .7);
margin:10% 0 0 5%;
width:30%;
height:60%;
position:absolute;
display:block;
color:#FFF;
}

#content4{
margin:20% 0 0 60%;
width:auto;
height:auto;
position:absolute;
display:block;
}

#content1 h1{
padding: 30px 30px 0px 30px;
text-align:justify;
font:bold 17px "Times New Roman", Times, serif
}

#content1 p{
padding: 30px 30px 0px 30px;
text-align:justify;
font:normal 17px "Times New Roman", Times, serif
}

#slide3 h1 {
margin: 4% 0 0 7%;
position:absolute;
color:#FFF;
font:bold 40px "Times New Roman", Times, serif
}

#content3 p{
padding: 30px 30px 0 30px;
text-align:justify;
font:normal 17px "Times New Roman", Times, serif
}